%div.well
    .row-fluid
        %div.categories_container.categories_container_select
            %span.category_group
                VEHICULES
                %a href="{{ url_for('article_add', categ=1) }}" << Voitures
                %a href="{{ url_for('article_add', categ=1) }}" << Motos
                %a href="{{ url_for('article_add', categ=1) }}" << Caravaning
                %a href="{{ url_for('article_add', categ=1) }}" << Utilitaires
                %a href="{{ url_for('article_add', categ=1) }}" << Equipement Auto
                %a href="{{ url_for('article_add', categ=1) }}" << Equipement Moto
                %a href="{{ url_for('article_add', categ=1) }}" << Equipement Caravaning
                %a href="{{ url_for('article_add', categ=1) }}" << Nautisme
                %a href="{{ url_for('article_add', categ=1) }}" << Equipement Nautisme
                %br
            %span.category_group
                IMMOBILIER
                %a href="{{ url_for('article_add', categ=1) }}" << Ventes immobilières
                %a href="{{ url_for('article_add', categ=1) }}" << Locations
                %a href="{{ url_for('article_add', categ=1) }}" << Colocations
                %a href="{{ url_for('article_add', categ=1) }}" << Locations de vacances
                %a href="{{ url_for('article_add', categ=1) }}" << Bureaux &amp; Commerces
                %br
                %br
                MULTIMEDIA
                %a href="{{ url_for('article_add', categ=1) }}" << Informatique
                %a href="{{ url_for('article_add', categ=1) }}" << Consoles &amp; Jeux vidéo
                %a href="{{ url_for('article_add', categ=1) }}" << Image &amp; Son
                %a href="{{ url_for('article_add', categ=1) }}" << Téléphonie
                %br
            %span.category_group
                MAISON
                %a href="{{ url_for('article_add', categ=1) }}" << Ameublement
                %a href="{{ url_for('article_add', categ=1) }}" << Electroménager
                %a href="{{ url_for('article_add', categ=1) }}" << Arts de la table
                %a href="{{ url_for('article_add', categ=1) }}" << Décoration
                %a href="{{ url_for('article_add', categ=1) }}" << Linge de maison
                %a href="{{ url_for('article_add', categ=1) }}" << Bricolage
                %a href="{{ url_for('article_add', categ=1) }}" << Jardinage
                %a href="{{ url_for('article_add', categ=1) }}" << Vêtements
                %a href="{{ url_for('article_add', categ=1) }}" << Chaussures
                %a href="{{ url_for('article_add', categ=1) }}" << Accessoires &amp; Bagagerie
                %a href="{{ url_for('article_add', categ=1) }}" << Montres &amp; Bijoux
                %a href="{{ url_for('article_add', categ=1) }}" << Equipement bébé
                %a href="{{ url_for('article_add', categ=1) }}" << Vêtements bébé
                %br
            %span.category_group
                LOISIRS
                %a href="{{ url_for('article_add', categ=1) }}" << DVD / Films
                %a href="{{ url_for('article_add', categ=1) }}" << CD / Musique
                %a href="{{ url_for('article_add', categ=1) }}" << Livres
                %a href="{{ url_for('article_add', categ=1) }}" << Animaux
                %a href="{{ url_for('article_add', categ=1) }}" << Vélos
                %a href="{{ url_for('article_add', categ=1) }}" << Sports &amp; Hobbies
                %a href="{{ url_for('article_add', categ=1) }}" << Instruments de musique
                %a href="{{ url_for('article_add', categ=1) }}" << Collection
                %a href="{{ url_for('article_add', categ=1) }}" << Jeux &amp; Jouets
                %a href="{{ url_for('article_add', categ=1) }}" << Vins &amp; Gastronomie
                %br
            %span.category_group
                MATERIEL PROFESSIONNEL
                %a href="{{ url_for('article_add', categ=1) }}" << Matériel Agricole
                %a href="{{ url_for('article_add', categ=1) }}" << Transport - Manutention
                %a href="{{ url_for('article_add', categ=1) }}" << BTP - Chantier Gros-oeuvre
                %a href="{{ url_for('article_add', categ=1) }}" << Outillage - Matériaux 2nd-oeuvre
                %a href="{{ url_for('article_add', categ=1) }}" << Équipements Industriels
                %a href="{{ url_for('article_add', categ=1) }}" << Restauration - Hôtellerie
                %a href="{{ url_for('article_add', categ=1) }}" << Fournitures de Bureau
                %a href="{{ url_for('article_add', categ=1) }}" << Commerces &amp; Marchés
                %a href="{{ url_for('article_add', categ=1) }}" << Matériel Médical
                %br
            %span.category_group
                EMPLOI &amp; SERVICES
                %a href="{{ url_for('article_add', categ=1) }}" << Emploi
                %a href="{{ url_for('article_add', categ=1) }}" << Services
                %a href="{{ url_for('article_add', categ=1) }}" << Billetterie
                %a href="{{ url_for('article_add', categ=1) }}" << Evénements
                %a href="{{ url_for('article_add', categ=1) }}" << Cours particuliers
                %br
            %span.category_group
                \--
                %a href="{{ url_for('article_add', categ=1) }}" << Autres
                %br
    .clearfix.
