.container
    .row-fluid
        %div.categories_container
            %span.category_group
                VEHICULES
                %a href="http://www.bee3.mr/voitures/offres/alsace/" << Voitures
                %a href="http://www.bee3.mr/motos/offres/alsace/" << Motos
                %a href="http://www.bee3.mr/caravaning/offres/alsace/" << Caravaning
                %a href="http://www.bee3.mr/utilitaires/offres/alsace/" << Utilitaires
                %a href="http://www.bee3.mr/equipement_auto/offres/alsace/" << Equipement Auto
                %a href="http://www.bee3.mr/equipement_moto/offres/alsace/" << Equipement Moto
                %a href="http://www.bee3.mr/equipement_caravaning/offres/alsace/" << Equipement Caravaning
                %a href="http://www.bee3.mr/nautisme/offres/alsace/" << Nautisme
                %a href="http://www.bee3.mr/equipement_nautisme/offres/alsace/" << Equipement Nautisme
                %br
            %span.category_group
                IMMOBILIER
                %a href="http://www.bee3.mr/ventes_immobilieres/offres/alsace/" << Ventes immobilières
                %a href="http://www.bee3.mr/locations/offres/alsace/" << Locations
                %a href="http://www.bee3.mr/colocations/offres/alsace/" << Colocations
                %a href="http://www.bee3.mr/locations_de_vacances/offres/alsace/" << Locations de vacances
                %a href="http://www.bee3.mr/bureaux_commerces/offres/alsace/" << Bureaux &amp; Commerces
                %br
                %br
                MULTIMEDIA
                %a href="http://www.bee3.mr/informatique/offres/alsace/" << Informatique
                %a href="http://www.bee3.mr/consoles_jeux_video/offres/alsace/" << Consoles &amp; Jeux vidéo
                %a href="http://www.bee3.mr/image_son/offres/alsace/" << Image &amp; Son
                %a href="http://www.bee3.mr/telephonie/offres/alsace/" << Téléphonie
                %br
            %span.category_group
               MAISON
               %a href="http://www.bee3.mr/ameublement/offres/alsace/" << Ameublement
               %a href="http://www.bee3.mr/electromenager/offres/alsace/" << Electroménager
               %a href="http://www.bee3.mr/arts_de_la_table/offres/alsace/" << Arts de la table
               %a href="http://www.bee3.mr/decoration/offres/alsace/" << Décoration
               %a href="http://www.bee3.mr/linge_de_maison/offres/alsace/" << Linge de maison
               %a href="http://www.bee3.mr/bricolage/offres/alsace/" << Bricolage
               %a href="http://www.bee3.mr/jardinage/offres/alsace/" << Jardinage
               %a href="http://www.bee3.mr/vetements/offres/alsace/" << Vêtements
               %a href="http://www.bee3.mr/chaussures/offres/alsace/" << Chaussures
               %a href="http://www.bee3.mr/accessoires_bagagerie/offres/alsace/" << Accessoires &amp; Bagagerie
               %a href="http://www.bee3.mr/montres_bijoux/offres/alsace/" << Montres &amp; Bijoux
               %a href="http://www.bee3.mr/equipement_bebe/offres/alsace/" << Equipement bébé
               %a href="http://www.bee3.mr/vetements_bebe/offres/alsace/" << Vêtements bébé
               %br
            %span.category_group
               LOISIRS
               %a href="http://www.bee3.mr/dvd_films/offres/alsace/" << DVD / Films
               %a href="http://www.bee3.mr/cd_musique/offres/alsace/" << CD / Musique
               %a href="http://www.bee3.mr/livres/offres/alsace/" << Livres
               %a href="http://www.bee3.mr/animaux/offres/alsace/" << Animaux
               %a href="http://www.bee3.mr/velos/offres/alsace/" << Vélos
               %a href="http://www.bee3.mr/sports_hobbies/offres/alsace/" << Sports &amp; Hobbies
               %a href="http://www.bee3.mr/instruments_de_musique/offres/alsace/" << Instruments de musique
               %a href="http://www.bee3.mr/collection/offres/alsace/" << Collection
               %a href="http://www.bee3.mr/jeux_jouets/offres/alsace/" << Jeux &amp; Jouets
               %a href="http://www.bee3.mr/vins_gastronomie/offres/alsace/" << Vins &amp; Gastronomie
               %br
            %span.category_group
               MATERIEL PROFESSIONNEL
               %a href="http://www.bee3.mr/materiel_agricole/offres/alsace/" << Matériel Agricole
               %a href="http://www.bee3.mr/transport_manutention/offres/alsace/" << Transport - Manutention
               %a href="http://www.bee3.mr/btp_chantier_gros_oeuvre/offres/alsace/" << BTP - Chantier Gros-oeuvre
               %a href="http://www.bee3.mr/outillage_materiaux_2nd_oeuvre/offres/alsace/" << Outillage - Matériaux 2nd-oeuvre
               %a href="http://www.bee3.mr/equipements_industriels/offres/alsace/" << Équipements Industriels
               %a href="http://www.bee3.mr/restauration_hotellerie/offres/alsace/" << Restauration - Hôtellerie
               %a href="http://www.bee3.mr/fournitures_de_bureau/offres/alsace/" << Fournitures de Bureau
               %a href="http://www.bee3.mr/commerces_marches/offres/alsace/" << Commerces &amp; Marchés
               %a href="http://www.bee3.mr/materiel_medical/offres/alsace/" << Matériel Médical
               %br
            %span.category_group
               EMPLOI &amp; SERVICES
               %a href="http://www.bee3.mr/emploi/offres/alsace/" << Emploi
               %a href="http://www.bee3.mr/services/offres/alsace/" << Services
               %a href="http://www.bee3.mr/billetterie/offres/alsace/" << Billetterie
               %a href="http://www.bee3.mr/evenements/offres/alsace/" << Evénements
               %a href="http://www.bee3.mr/cours_particuliers/offres/alsace/" << Cours particuliers
               %br
            %span.category_group
               \--
               %a href="http://www.bee3.mr/autres/offres/alsace/" << Autres
               %br
    .clearfix.

%div#footer
    %a href="#" << Infos légales
    %a href="#" << Qui sommes nous ?
    %a href="#" << Contact
    %a href="#" << Règles de diffusion
    %a href="#" << Ajouter à mes favoris
