<form role="form">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-bottom:0px;">
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Prix</strong> min.</span>
                                    <select class="form-control" id="criteria_price_start" name="criteria[price_start]">
                                        <option value="">Prix min.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Prix</strong> max.</span>
                                    <select class="form-control" id="criteria_price_end" name="criteria[price_end]">
                                        <option value="">Prix max.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Année</strong> max.</span>
                                    <select class="form-control" id="criteria_year_start" name="criteria[year_start]">
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                        <option>2011</option>
                                        <option>2010</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Année</strong> min.</span>
                                    <select class="form-control" id="criteria_year_end" name="criteria[year_end]">
                                        <option>2014</option>
                                        <option>2013</option>
                                        <option>2012</option>
                                        <option>2011</option>
                                        <option>2010</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5'>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>KM</strong> min.</span>
                                    <select class="form-control" id="criteria_km_start"
                                            name="criteria[km_start]">
                                        <option value="">KM min.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>KM</strong> max.</span>
                                    <select class="form-control" id="criteria_km_end"
                                            name="criteria[km_end]">
                                        <option value="">KM max.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Energie</strong></span>
                                    <select class="form-control">
                                        <option value="">Energie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><strong>Boite de vitesse</strong></span>
                                    <select class="form-control">
                                        <option value="">Boite de vitesse</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
