.input-group
    .input-group-btn
        %button.btn.btn-primary.dropdown-toggle type="button" data-toggle="dropdown"
            Toutes catégories
            %span.caret
        %ul.dropdown-menu.dropdown-menu-large.row
            %li.col-sm-3
                %ul
                    %li.dropdown-header -> %a href="#" << Toutes catégories
                    %li.divider
                    %li.dropdown-header -> %a href="#" << VEHICULES
                    %li -> %a href="#" << Voitures
                    %li -> %a href="#" << Motos
                    %li -> %a href="#" << Caravaning
                    %li -> %a href="#" << Utilitaires
                    %li -> %a href="#" << Equipement Auto
                    %li -> %a href="#" << Equipement Moto
                    %li -> %a href="#" << Equipement Caravaning
                    %li -> %a href="#" << Nautisme
                    %li -> %a href="#" << Equipement Nautisme
                    %li.divider
                    %li.dropdown-header -> %a href="#" << MULTIMEDIA
                    %li -> %a href="#" << Consoles &amp; Jeux vidéo
                    %li -> %a href="#" << Image &amp; Son
                    %li -> %a href="#" << Téléphonie
            %li.col-sm-3
                %ul
                    %li.dropdown-header -> %a href="#" << IMMOBILIER
                    %li -> %a href="#" << Locations
                    %li -> %a href="#" << Colocations
                    %li -> %a href="#" << Locations de vacances
                    %li -> %a href="#" << Bureaux &amp; Commerces
                    %li.divider
                    %li.dropdown-header -> %a href="#" << MAISON
                    %li -> %a href="#" << Electroménager
                    %li -> %a href="#" << Arts de la table
                    %li -> %a href="#" << Décoration
                    %li -> %a href="#" << Linge de maison
                    %li -> %a href="#" << Bricolage
                    %li -> %a href="#" << Jardinage
                    %li -> %a href="#" << Vêtements
                    %li -> %a href="#" << Chaussures
                    %li -> %a href="#" << Accessoires &amp; Bagagerie
                    %li -> %a href="#" << Montres &amp; Bijoux
                    %li -> %a href="#" << Equipement bébé
                    %li -> %a href="#" << Vêtements bébé
            %li.col-sm-3
                %ul
                    %li.dropdown-header -> %a href="#" << LOISIRS
                    %li -> %a href="#" << CD / Musique
                    %li -> %a href="#" << Livres
                    %li -> %a href="#" << Animaux
                    %li -> %a href="#" << Vélos
                    %li -> %a href="#" << Sports &amp; Hobbies
                    %li -> %a href="#" << Instruments de musique
                    %li -> %a href="#" << Collection
                    %li -> %a href="#" << Jeux &amp; Jouets
                    %li -> %a href="#" << Thé &amp; Gastronomie
            %li.col-sm-3
                %ul
                    %li.dropdown-header -> %a href="#" << MATERIEL PROFESSIONNEL
                    %li -> %a href="#" << Transport - Manutention
                    %li -> %a href="#" << BTP - Chantier Gros-oeuvre
                    %li -> %a href="#" << Outillage - Matériaux 2nd-oeuvre
                    %li -> %a href="#" << Équipements Industriels
                    %li -> %a href="#" << Restauration - Hôtellerie
                    %li -> %a href="#" << Fournitures de Bureau
                    %li -> %a href="#" << Commerces &amp; Marchés
                    %li -> %a href="#" << Matériel Médical
                    %li.divider
                    %li.dropdown-header -> %a href="#" << EMPLOI &amp; SERVICES
                    %li -> %a href="#" << Services
                    %li -> %a href="#" << Billetterie
                    %li -> %a href="#" << Evénements
                    %li -> %a href="#" << Cours particuliers
                    %li.divider
                    %li.dropdown-header -> %a href="#" << Autres
    %input.form-control type="text" placeholder='Que cherchez-vous ?'
    %span.input-group-btn
        %button.btn.btn-primary type="submit" << Rechercher
