<div class="row">
    {% for art in articles %}
    <div class="col-sm-3 col-xs-6">
        <div class="thumbnail article">
            <img data-src="holder.js/200x200" alt="{{ art.title }}">

            <div class="caption">
                <div class="title"><a href="#">{{ art.title }}</a></div>
                <span class="listing-price">{{ art.price }} €</span>
                <span class="shopname">{{ art.desc }}</span>
            </div>


        </div>
    </div>
    {% endfor %}
</div>
<hr/>
<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo; PAGE PRÉCÉDENTE</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="hidden-xs"><a href="#">2</a></li>
        <li class="hidden-xs"><a href="#">3</a></li>
        <li class="hidden-xs"><a href="#">4</a></li>
        <li class="hidden-xs"><a href="#">5</a></li>
        <li><a href="#">PAGE SUIVANTE &raquo;</a></li>
    </ul>
</div>